<ion-view view-title="CHOOSE SOME TAGS">
  <ion-nav-buttons side="right">
    <button class="ri-btn ri-chooseBestTags-btn">OK</button>
  </ion-nav-buttons>
  <!--{{id}}-->
  <ion-content>
    <div class="ri-chooseBestTags">
      <div class="ri-chooseBestTags-video"><img style="width: 100%;" src="http://pipsum.com/40x40.jpg" alt=""></div>


      <div class="ri-chooseBestTags-info ri-wrap">
        <h2>Justin Bieber - PURPOSE : The Mov Lorem ipsum dolor sit amet, consectetur.</h2>
        <span>3 month ago</span>
        <span>4:33</span>
        <span>4 000 000 views</span>
      </div>
      <hr class="ri-hr">
      <div class="ri-wrap fl-between">
        <button class="ri-chooseBestTags-item" toggle-class="active" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">#featuring</button>
      </div>
    </div>
  </ion-content>
</ion-view>
