<ion-view view-title="CHOOSE YOUR BEST SHOT">
  <ion-content>
    <div class="ri-chooseBest">
      <a class="ri-chooseBest-item" ng-repeat="i in [0,1,2,3,4,5]" ng-href="#/app/chooseBest/{{$index}}">
        <span class="ri-chooseBest-item-img" style="background: url(http://pipsum.com/40x40.jpg) center no-repeat;"></span>

        <div class="ri-chooseBest-item-info">
          <h2>
            Lorem ipsum dolor sit amet asd asdsdasdasd as a.
          </h2>
          <h3>10 M views</h3>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
