<ion-view view-title="confirm your mail">
  <ion-content class="ri-location">
    <div class="ri-location-form ri-location-form_confirm">
      <div class="ri-location-form-label ri-location-form-label_sfns">
        <span class="animation1" ng-show="locationInput">Log in with your YouTube account’s email</span>
        <input type="text" class="ri-location-form-input" placeholder="TYPE YOUr CITY"
          ng-init="locationInput" ng-model="locationInput">
      </div>
      <button class="ri-btn ri-btn_black animation1" ng-show="locationInput" ng-click="locationInput = ''">Change</button>
      <button class="ri-btn ri-btn_red">Confirm</button>
    </div>
  </ion-content>
</ion-view>
