<ion-view view-title="favorites">
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-favorites">
    <div class="ri-favorites-tabs">
      <button ng-class="{active: isSet(1)}" ng-click="setTab(1)">ARTISTS</button>
      <button ng-class="{active: isSet(2)}" ng-click="setTab(2)">videos</button>
    </div>
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>


    <div class="ri-favorites-content">
      <div ng-show="isSet(1)" class="ri-rising-rapers">
        <div class="ri-rising-rapers-item item-icon-right" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
          <i class="icon ion-ios-arrow-right"></i>
          <img class="ri-rising-rapers-item-img" src="http://pipsum.com/40x40.jpg" alt="">
          <div class="ri-rising-rapers-item-info">
            <h2>Tyga</h2>
            <h3>Los Angeles, CA</h3>
            <h4><img src="img/user.png" alt=""> 1 670 893</h4>
          </div>
        </div>
      </div>

      <div ng-show="isSet(2)" ng-controller="risingCtrl" class="ri-rising-videos">
        <div class="ri-rising-videos-item" ng-repeat="video in videos">
          <div class="ri-rising-videos-item-info" toggle-class="vhn">
            <h1><span>{{video.snippet.title}}</span></h1>
          </div>


          <div class="ri-rising-videos-item-video">
            <youtube-video video-id="video.id.videoId" player-vars="playerVars"></youtube-video>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
