<ion-view view-title="invite">
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-rising">
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>

    <div class="ri-settings">
      <div class="ri-invite-title"><img src="img/invite/invite.png" alt=""></div>
      
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-email"></b>
        <h2>By email</h2>
      </div>
      <div class="ri-settings-item ri-settings-item_f item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-social-facebook"></b>
        <h2>By Facebook</h2>
      </div>
      <div class="ri-settings-item ri-settings-item_t item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-social-twitter"></b>
        <h2>By Twitter</h2>
      </div>
    </div>


  </ion-content>
</ion-view>
