<ion-view view-title="Your Location">
  <ion-content class="ri-location">
    <div class="ri-location-form">
      <div class="ri-location-form-label">
        You are in
        <input type="text" class="ri-location-form-input" placeholder="TYPE YOUr CITY"
          ng-init="locationInput" ng-model="locationInput">
      </div>
      <button class="ri-btn ri-btn_black animation1" ng-show="locationInput" ng-click="locationInput = ''">Change</button>
      <button class="ri-btn ri-btn_red">Confirm</button>
    </div>
  </ion-content>
</ion-view>
