<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-clear ri-menu" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/splash">
          splash
        </ion-item>
        <ion-item menu-close href="#/app/location">
          location
        </ion-item>
        <ion-item menu-close href="#/app/rising">
          rising
        </ion-item>
        <ion-item menu-close href="#/app/rapers">
          rapers
        </ion-item>
        <ion-item menu-close href="#/app/favorites">
          favorites
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          settings
        </ion-item>
        <ion-item menu-close href="#/app/invite">
          invitev
        </ion-item>
        <ion-item menu-close href="#/app/confirm">
          confirm
        </ion-item>
        <ion-item menu-close href="#/app/chooseBest">
          chooseBest
        </ion-item>
        <ion-item menu-close href="#/app/rise">
          rise
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
