<ion-view>
  <ion-nav-title>
    Top <span style="color: red;">rapers</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-rising">
    <div class="ri-rising-cities">
      <span>city</span>
      <span>
        <button class="ri-btn ion-ios-arrow-left icon-left"></button>
        <b>California</b>
        <button class="ri-btn ion-ios-arrow-right icon-right"></button>
      </span>
      <span>USA</span>
    </div>
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>


    <div class="ri-rising-rapers">
      <div class="ri-rising-rapers-item item-icon-right" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
        <i class="icon ion-ios-arrow-right"></i>

        <span class="ri-rising-rapers-item-id">{{$index+1}}</span>
        <img class="ri-rising-rapers-item-img" src="http://pipsum.com/40x40.jpg" alt="">
        <div class="ri-rising-rapers-item-info">
          <h2>Tyga</h2>
          <h3>Los Angeles, CA</h3>
          <h4><img src="img/user.png" alt=""> 1 670 893</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
