<ion-view view-title="favorites">
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-favorites">
    <div class="ri-rise-top">
      <div class="ri-rise-top-bg" style="background: url(http://pipsum.com/40x40.jpg) center no-repeat;"></div>

      <div class="ri-rise-top-ava" style="background: url(http://pipsum.com/40x40.jpg) center no-repeat;"></div>
      <div class="ri-rise-top-name">Justin Bieber</div>
      <div class="ri-rise-top-loc"><i class="flag flag-us dibM"></i> USA, Los Angeles</div>
      <div class="ri-rise-top-place">
        <button><i class="ion-ios-arrow-left"></i></button>

        <span><b>3 <sup>nb</sup></b> in the world</span>

        <button><i class="ion-ios-arrow-right"></i></button>
      </div>

      <div class="ri-rise-top-subscribe fl-between">
        <span><img src="img/user_r.png" alt="">1565165165</span>

        <button><i class="ion-social-youtube"></i> Subscribe</button>
      </div>
    </div>


    <div class="ri-favorites-tabs">
      <button ng-class="{active: isSet(1)}" ng-click="setTab(1)">RISING</button>
      <button ng-class="{active: isSet(2)}" ng-click="setTab(2)">videos</button>
      <button ng-class="{active: isSet(3)}" ng-click="setTab(3)">ABOUT</button>
    </div>
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>


    <div class="ri-rise-content ri-wrap">
      <div ng-show="isSet(1)" ng-controller="risingCtrl" class="ri-rise-content-x1">
        <div class="ri-rise-content-x1-item" ng-repeat="video in videos">
          <div class="ri-rising-videos-item-video">
            <youtube-video video-id="video.id.videoId" player-vars="playerVars"></youtube-video>
          </div>

          <div class="ri-chooseBestTags-info">
            <h2>{{video.snippet.title}}</h2>
            <h3>JustinBieber - Best clip - playlist</h3>
            <span><i class="ion-thumbsup"></i> 3 246 294</span>
            <span><b>2<sup>nd</sup></b> in the world</span>
          </div>
        </div>
      </div>


      <div ng-show="isSet(2)" class="ri-rise-content-x2">
        <a class="ri-chooseBest-item" ng-repeat="i in [0,1,2,3,4,5]" ng-href="#/app/chooseBest/{{$index}}">
          <span class="ri-chooseBest-item-img" style="background: url(http://pipsum.com/40x40.jpg) center no-repeat;"></span>

          <div class="ri-chooseBest-item-info">
            <h2>
              Lorem ipsum dolor sit amet asd asdsdasdasd as a.
            </h2>
            <h3>10 M views</h3>
          </div>
        </a>
      </div>

      <div ng-show="isSet(3)" class="ri-rise-content-x3">
        <h2><b>17 231 342</b> abonnés  <b>8 346 413 475</b> vues Membre depuis le 25 septembre 2009</h2>


        <div class="ri-rise-content-x3-list">
          <a class="ri-rise-content-x3-list-item">Vevo</a>
          <a class="ri-rise-content-x3-list-item">Official website</a>

          <a class="ri-rise-content-x3-list-item">iTunes</a>
          <a class="ri-rise-content-x3-list-item">Email list</a>

          <a class="ri-rise-content-x3-list-item">Twitter</a>
          <a class="ri-rise-content-x3-list-item">Google+</a>

          <a class="ri-rise-content-x3-list-item">Facebook</a>
        </div>


        <h2>
          <b>Informations</b> <br>
          Pour les demandes d'informations commerciales :
        </h2>

        <button class="ri-btn ri-btn_border">Afficher l'adresse e-mail</button>
      </div>
    </div>
  </ion-content>
</ion-view>
