<ion-view>
  <ion-nav-title>
    Top <span style="color: red;">rising</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-rising">
    <div class="ri-rising-cities">
      <span>CA</span>
      <span>
        <button class="ri-btn ion-ios-arrow-left icon-left"></button>
        <b>Los Angeles</b>
        <button class="ri-btn ion-ios-arrow-right icon-right"></button>
      </span>
      <span>USA</span>
    </div>
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>


    <div class="ri-rising-videos">
      <div class="ri-rising-videos-item" ng-repeat="video in videos">
        <div class="ri-rising-videos-item-info" toggle-class="vhn">
          <h1>{{$index+1}} <span>{{video.snippet.title}}</span></h1>
        </div>


        <div class="ri-rising-videos-item-video">
          <youtube-video video-id="video.id.videoId" player-vars="playerVars"></youtube-video>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
