<ion-view view-title="settings">
  <ion-nav-buttons side="right">
    <button class="icon ri-btn ion-android-search" ng-class="{'ion-ios-close-outline': searchOpen}" ng-click="toggleSearch()"></button>
  </ion-nav-buttons>



  <ion-content class="ri-rising">
    <div class="ri-favorites-search animation2" ng-show="searchOpen">
      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for an artist or a tag">
      </div>

      <div class="ri-favorites-search-item">
        <i class="ion-android-search"></i>
        <input type="text" placeholder="Search for a location">
      </div>
    </div>

    <div class="ri-settings">
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-document-text"></b>
        <h2>HELP</h2>
      </div>
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-ios-location"></b>
        <h2>LOCATION</h2>
      </div>
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-ios-bell"></b>
        <h2>NOTIFICATION</h2>
      </div>
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-help-circled"></b>
        <h2>ABOUT</h2>
      </div>
      <div class="ri-settings-item item-icon-right">
        <i class="icon ion-ios-arrow-right"></i>

        <b class="ion-ios-star"></b>
        <h2>RATE THE APP</h2>
      </div>
    </div>


  </ion-content>
</ion-view>
