$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebas/7fonts.ru_bebas___-webfont.eot');
  src: url('../fonts/bebas/7fonts.ru_bebas___-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/7fonts.ru_bebas___-webfont.woff2') format('woff2'),
  url('../fonts/bebas/7fonts.ru_bebas___-webfont.woff') format('woff'),
  url('../fonts/bebas/7fonts.ru_bebas___-webfont.ttf') format('truetype'),
  url('../fonts/bebas/7fonts.ru_bebas___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sfns';
  src: url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.eot');
  src: url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.woff2') format('woff2'),
  url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.woff') format('woff'),
  url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.ttf') format('truetype'),
  url('../fonts/san_francisco/system_san_francisco_text_medium-webfont.svg#sfns_textmediump4') format('svg');
  font-weight: normal;
  font-style: normal;
}


//--------------------------------------------redefinition--------------------------------------------------------------

body{
  font-family: 'sfns';
}

.scroll{
  height: 100%;
  //&-content{
  //  margin: 0;
  //}
}
.bar{
  &.bar-stable {
    border-color: transparent;
    background-image: none;
    background-color: #000;
    color: white;
    .title {
      color: white;
      font-size: 16px;
      font-family: 'bebas';
    }
    .button.button-clear {
      color: #FFF;
    }
  }
}

//--------------------------------------------main styles---------------------------------------------------------------
.flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background:url(../img/flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: 0 -16px}
.flag.flag-ba {background-position: -16px -16px}
.flag.flag-bb {background-position: -32px -16px}
.flag.flag-bd {background-position: -48px -16px}
.flag.flag-be {background-position: -64px -16px}
.flag.flag-bf {background-position: -80px -16px}
.flag.flag-bg {background-position: -96px -16px}
.flag.flag-bh {background-position: -112px -16px}
.flag.flag-bi {background-position: -128px -16px}
.flag.flag-bj {background-position: -144px -16px}
.flag.flag-bm {background-position: -160px -16px}
.flag.flag-bn {background-position: -176px -16px}
.flag.flag-bo {background-position: -192px -16px}
.flag.flag-br {background-position: -208px -16px}
.flag.flag-bs {background-position: -224px -16px}
.flag.flag-bt {background-position: 0 -32px}
.flag.flag-bw {background-position: -16px -32px}
.flag.flag-by {background-position: -32px -32px}
.flag.flag-bz {background-position: -48px -32px}
.flag.flag-ca {background-position: -64px -32px}
.flag.flag-cd {background-position: -80px -32px}
.flag.flag-cf {background-position: -96px -32px}
.flag.flag-cg {background-position: -112px -32px}
.flag.flag-ch {background-position: -128px -32px}
.flag.flag-ci {background-position: -144px -32px}
.flag.flag-ck {background-position: -160px -32px}
.flag.flag-cl {background-position: -176px -32px}
.flag.flag-cm {background-position: -192px -32px}
.flag.flag-cn {background-position: -208px -32px}
.flag.flag-co {background-position: -224px -32px}
.flag.flag-cr {background-position: 0 -48px}
.flag.flag-cu {background-position: -16px -48px}
.flag.flag-cv {background-position: -32px -48px}
.flag.flag-cy {background-position: -48px -48px}
.flag.flag-cz {background-position: -64px -48px}
.flag.flag-de {background-position: -80px -48px}
.flag.flag-dj {background-position: -96px -48px}
.flag.flag-dk {background-position: -112px -48px}
.flag.flag-dm {background-position: -128px -48px}
.flag.flag-do {background-position: -144px -48px}
.flag.flag-dz {background-position: -160px -48px}
.flag.flag-ec {background-position: -176px -48px}
.flag.flag-ee {background-position: -192px -48px}
.flag.flag-eg {background-position: -208px -48px}
.flag.flag-eh {background-position: -224px -48px}
.flag.flag-er {background-position: 0 -64px}
.flag.flag-es {background-position: -16px -64px}
.flag.flag-et {background-position: -32px -64px}
.flag.flag-fi {background-position: -48px -64px}
.flag.flag-fj {background-position: -64px -64px}
.flag.flag-fm {background-position: -80px -64px}
.flag.flag-fo {background-position: -96px -64px}
.flag.flag-fr {background-position: -112px -64px}
.flag.flag-ga {background-position: -128px -64px}
.flag.flag-gb {background-position: -144px -64px}
.flag.flag-gd {background-position: -160px -64px}
.flag.flag-ge {background-position: -176px -64px}
.flag.flag-gg {background-position: -192px -64px}
.flag.flag-gh {background-position: -208px -64px}
.flag.flag-gi {background-position: -224px -64px}
.flag.flag-gl {background-position: 0 -80px}
.flag.flag-gm {background-position: -16px -80px}
.flag.flag-gn {background-position: -32px -80px}
.flag.flag-gp {background-position: -48px -80px}
.flag.flag-gq {background-position: -64px -80px}
.flag.flag-gr {background-position: -80px -80px}
.flag.flag-gt {background-position: -96px -80px}
.flag.flag-gu {background-position: -112px -80px}
.flag.flag-gw {background-position: -128px -80px}
.flag.flag-gy {background-position: -144px -80px}
.flag.flag-hk {background-position: -160px -80px}
.flag.flag-hn {background-position: -176px -80px}
.flag.flag-hr {background-position: -192px -80px}
.flag.flag-ht {background-position: -208px -80px}
.flag.flag-hu {background-position: -224px -80px}
.flag.flag-id {background-position: 0 -96px}
.flag.flag-ie {background-position: -16px -96px}
.flag.flag-il {background-position: -32px -96px}
.flag.flag-im {background-position: -48px -96px}
.flag.flag-in {background-position: -64px -96px}
.flag.flag-iq {background-position: -80px -96px}
.flag.flag-ir {background-position: -96px -96px}
.flag.flag-is {background-position: -112px -96px}
.flag.flag-it {background-position: -128px -96px}
.flag.flag-je {background-position: -144px -96px}
.flag.flag-jm {background-position: -160px -96px}
.flag.flag-jo {background-position: -176px -96px}
.flag.flag-jp {background-position: -192px -96px}
.flag.flag-ke {background-position: -208px -96px}
.flag.flag-kg {background-position: -224px -96px}
.flag.flag-kh {background-position: 0 -112px}
.flag.flag-ki {background-position: -16px -112px}
.flag.flag-km {background-position: -32px -112px}
.flag.flag-kn {background-position: -48px -112px}
.flag.flag-kp {background-position: -64px -112px}
.flag.flag-kr {background-position: -80px -112px}
.flag.flag-kw {background-position: -96px -112px}
.flag.flag-ky {background-position: -112px -112px}
.flag.flag-kz {background-position: -128px -112px}
.flag.flag-la {background-position: -144px -112px}
.flag.flag-lb {background-position: -160px -112px}
.flag.flag-lc {background-position: -176px -112px}
.flag.flag-li {background-position: -192px -112px}
.flag.flag-lk {background-position: -208px -112px}
.flag.flag-lr {background-position: -224px -112px}
.flag.flag-ls {background-position: 0 -128px}
.flag.flag-lt {background-position: -16px -128px}
.flag.flag-lu {background-position: -32px -128px}
.flag.flag-lv {background-position: -48px -128px}
.flag.flag-ly {background-position: -64px -128px}
.flag.flag-ma {background-position: -80px -128px}
.flag.flag-mc {background-position: -96px -128px}
.flag.flag-md {background-position: -112px -128px}
.flag.flag-me {background-position: -128px -128px}
.flag.flag-mg {background-position: -144px -128px}
.flag.flag-mh {background-position: -160px -128px}
.flag.flag-mk {background-position: -176px -128px}
.flag.flag-ml {background-position: -192px -128px}
.flag.flag-mm {background-position: -208px -128px}
.flag.flag-mn {background-position: -224px -128px}
.flag.flag-mo {background-position: 0 -144px}
.flag.flag-mq {background-position: -16px -144px}
.flag.flag-mr {background-position: -32px -144px}
.flag.flag-ms {background-position: -48px -144px}
.flag.flag-mt {background-position: -64px -144px}
.flag.flag-mu {background-position: -80px -144px}
.flag.flag-mv {background-position: -96px -144px}
.flag.flag-mw {background-position: -112px -144px}
.flag.flag-mx {background-position: -128px -144px}
.flag.flag-my {background-position: -144px -144px}
.flag.flag-mz {background-position: -160px -144px}
.flag.flag-na {background-position: -176px -144px}
.flag.flag-nc {background-position: -192px -144px}
.flag.flag-ne {background-position: -208px -144px}
.flag.flag-ng {background-position: -224px -144px}
.flag.flag-ni {background-position: 0 -160px}
.flag.flag-nl {background-position: -16px -160px}
.flag.flag-no {background-position: -32px -160px}
.flag.flag-np {background-position: -48px -160px}
.flag.flag-nr {background-position: -64px -160px}
.flag.flag-nz {background-position: -80px -160px}
.flag.flag-om {background-position: -96px -160px}
.flag.flag-pa {background-position: -112px -160px}
.flag.flag-pe {background-position: -128px -160px}
.flag.flag-pf {background-position: -144px -160px}
.flag.flag-pg {background-position: -160px -160px}
.flag.flag-ph {background-position: -176px -160px}
.flag.flag-pk {background-position: -192px -160px}
.flag.flag-pl {background-position: -208px -160px}
.flag.flag-pr {background-position: -224px -160px}
.flag.flag-ps {background-position: 0 -176px}
.flag.flag-pt {background-position: -16px -176px}
.flag.flag-pw {background-position: -32px -176px}
.flag.flag-py {background-position: -48px -176px}
.flag.flag-qa {background-position: -64px -176px}
.flag.flag-re {background-position: -80px -176px}
.flag.flag-ro {background-position: -96px -176px}
.flag.flag-rs {background-position: -112px -176px}
.flag.flag-ru {background-position: -128px -176px}
.flag.flag-rw {background-position: -144px -176px}
.flag.flag-sa {background-position: -160px -176px}
.flag.flag-sb {background-position: -176px -176px}
.flag.flag-sc {background-position: -192px -176px}
.flag.flag-sd {background-position: -208px -176px}
.flag.flag-se {background-position: -224px -176px}
.flag.flag-sg {background-position: 0 -192px}
.flag.flag-si {background-position: -16px -192px}
.flag.flag-sk {background-position: -32px -192px}
.flag.flag-sl {background-position: -48px -192px}
.flag.flag-sm {background-position: -64px -192px}
.flag.flag-sn {background-position: -80px -192px}
.flag.flag-so {background-position: -96px -192px}
.flag.flag-sr {background-position: -112px -192px}
.flag.flag-st {background-position: -128px -192px}
.flag.flag-sv {background-position: -144px -192px}
.flag.flag-sy {background-position: -160px -192px}
.flag.flag-sz {background-position: -176px -192px}
.flag.flag-tc {background-position: -192px -192px}
.flag.flag-td {background-position: -208px -192px}
.flag.flag-tg {background-position: -224px -192px}
.flag.flag-th {background-position: 0 -208px}
.flag.flag-tj {background-position: -16px -208px}
.flag.flag-tl {background-position: -32px -208px}
.flag.flag-tm {background-position: -48px -208px}
.flag.flag-tn {background-position: -64px -208px}
.flag.flag-to {background-position: -80px -208px}
.flag.flag-tr {background-position: -96px -208px}
.flag.flag-tt {background-position: -112px -208px}
.flag.flag-tv {background-position: -128px -208px}
.flag.flag-tw {background-position: -144px -208px}
.flag.flag-tz {background-position: -160px -208px}
.flag.flag-ua {background-position: -176px -208px}
.flag.flag-ug {background-position: -192px -208px}
.flag.flag-us {background-position: -208px -208px}
.flag.flag-uy {background-position: -224px -208px}
.flag.flag-uz {background-position: 0 -224px}
.flag.flag-va {background-position: -16px -224px}
.flag.flag-vc {background-position: -32px -224px}
.flag.flag-ve {background-position: -48px -224px}
.flag.flag-vg {background-position: -64px -224px}
.flag.flag-vi {background-position: -80px -224px}
.flag.flag-vn {background-position: -96px -224px}
.flag.flag-vu {background-position: -112px -224px}
.flag.flag-ws {background-position: -128px -224px}
.flag.flag-ye {background-position: -144px -224px}
.flag.flag-za {background-position: -160px -224px}
.flag.flag-zm {background-position: -176px -224px}
.flag.flag-zw {background-position: -192px -224px}


.fl-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.dibT{
  display: inline-block;
  vertical-align: top;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
.dibB{
  display: inline-block;
  vertical-align: bottom;
}
.vhn{
  visibility: hidden;
}

//--------------------------------------------animation1----------------------------------------------------------------

.animation1.ng-hide-add {
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

.animation1.ng-hide-remove {
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

//--------------------------------------------animation2----------------------------------------------------------------

.animation2.ng-hide-add {
  position: absolute;
  z-index: 100;
  animation:0.5s fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.animation2.ng-hide-remove {
  position: absolute;
  z-index: 100;
  animation:0.3s fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}



.ri{
//--------------------------------------------GLOBAL--------------------------------------------------------------------
  &-wrap{
    width: 90%;
    margin: 0 auto;
  }

  &-btn{
    border: none;
    background: none;
    font-size: 11px;
    border-radius: 5px;
    padding: 10px 21px;
    color: white;
    &_border{
      border: 1px solid #4d4d4d;
      color: #4d4d4d;
    }
    &_red{
      background: #8c2124;
    }
    &_black{
      background: rgba(0, 0, 0, 0.6);
    }

    &.activated{
      opacity: .4;
    }
  }

  &-menu{
    background: url(../img/menu.png) center no-repeat !important;
    width: 30px;
  }

  &-hr{
    margin: 15px 0;
  }
//--------------------------------------------splash--------------------------------------------------------------------

  &-splash{
    width: 100%;
    height: 100%;
    background: url(../img/splash/bg.png) center no-repeat;
    background-size: cover;
  }

//--------------------------------------------location------------------------------------------------------------------

  &-location{
    width: 100%;
    height: 100%;
    background: url(../img/location/bg.png) center no-repeat;
    background-size: cover;
    &-form{
      width: 70%;
      margin: 0 auto;
      padding-top: 50%;
      text-align: center;
      &-label{
        color: white;
        font-family: 'bebas';
        font-size: 17px;
        &_sfns{
          font-family: 'sfns';
        }
      }
      &-input{
        margin: 15px 0 30px;
        width: 100%;
        background: none;
        border: none;
        font-family: 'bebas';
        text-align: center;
        padding-top: 15px !important;
        font-size: 21px !important;
        border-top: 1px solid #000 !important;
        color: white !important;
        height: auto !important;
        line-height: 26px !important;
      }


      &_confirm{
        width: 92%;
        .ri-location-form-input{
          border-top: none !important;
        }
      }
    }
  }

//--------------------------------------------rising--------------------------------------------------------------------

  &-rising{
    &-cities{
      border-top: 1px solid #330608;
      background: #000;
      white-space: nowrap;
      font-size: 0;
      span{
        @extend .dibM;
        width: 68%;
        font-size: 17px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        b{
          @extend .dibM;
          margin: 0 13px;
          width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        button{
          @extend .dibM;
          color: white;
          background: none;
          border: none;
          padding: 7px;
          font-size: 25px;
        }
        &:not(:nth-child(2)){
          width: 16%;
          font-size: 14px;
          opacity: .4;
        }
      }
    }

    &-videos{
      width: 85%;
      margin: 0 auto;
      &-item{
        position: relative;
        margin: 10px 0;
        &-info{
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          padding: 0 20px 20px;
          width: 100%;
          //height: 100%;
          h1{
            //padding-top: 45%;
            margin: 0;
            font-weight: normal;
            color: white;
            font-size: 28px;
            line-height: 10px;
            span{
              max-width: 140px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              display: inline-block;
              font-family: 'bebas';
            }
          }
        }
        &-video{
          padding-bottom: 56.25%;
          position: relative;
          display: block;
          height: 0;
          overflow: hidden;
          iframe{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }
    }

    &-rapers{
      &-item{
        position: relative;
        border-bottom: 1px solid #777777;
        padding-top: 10px;
        padding-bottom: 10px;
        .icon{
          font-size: 18px;
        }

        &-id{
          @extend .dibB;
          font-family: 'bebas';
          font-size: 38px;
          line-height: 38px;
          color: #b7b7b7;
          min-width: 50px;
          text-align: center;
        }
        &-img{
          @extend .dibT;
          width: 50px;
          border-radius: 5px;
          margin: 0 10px 0 0;
        }
        &-info{
          @extend .dibT;
          h2{
            font-weight: 500;
            margin: 0 0 3px;
            font-size: 12px;
            color: #000;
          }
          h3{
            font-weight: 400;
            margin: 0 0 3px;
            font-size: 12px;
            color: #777777;
          }
          h4{
            font-weight: 400;
            margin: 0;
            font-size: 10px;
            color: #777777;

          }
        }
      }
    }
  }

//--------------------------------------------favorites-----------------------------------------------------------------

  &-favorites{
    &-tabs{
      border-top: 1px solid #330608;
      background: #000;
      text-align: center;
      button{
        @extend .dibM;
        background: none;
        border: none;
        margin: 0 12px 8px;
        border-bottom: 2px solid transparent;
        padding: 10px 3px 2px;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        &.active{
          border-color: #8c2124;
        }
      }
    }

    &-search{
      width: 100%;
      background: #000;
      padding: 3px 0 5px;
      &-item{
        width: 94%;
        margin: 0 auto 10px;
        position: relative;
        i{
          position: absolute;
          left: 8px;
          top: 4px;
          font-size: 14px;
          color: white;
        }
        input{
          border: none;
          background: #505050;
          color: white;
          font-size: 14px;
          padding: 5px 0 5px 25px;
          width: 100%;
          border-radius: 10px;
          height: auto;
        }
      }
    }

    &-content{
      .ri-rising-rapers-item-img{
        margin-left: 20px;
      }
      .ri-rising-videos-item-info h1 span{
        margin: 0 auto;
        display: block;
      }
    }
  }

//--------------------------------------------settings------------------------------------------------------------------

  &-settings{
    &-item{
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      border-bottom: 1px solid #8f8f8f;
      .icon{
        font-size: 18px;
      }
      b{
        @extend .dibM;
        width: 30px;
        font-size: 22px;
        color: #8f8f8f;
      }
      h2{
        @extend .dibM;
        font-size: 16px;
        color: #000;
        margin: 0;
        font-weight: normal;
      }



      &_f{
        b{color: #415e9a;}
        h2{color: #415e9a;}
      }
      &_t{
        b{color: #59adeb;}
        h2{color: #59adeb;}
      }
    }
  }

//--------------------------------------------invite--------------------------------------------------------------------

  &-invite{
    &-title{
      padding: 30px 0;
      text-align: center;
      border-bottom: 1px solid #8f8f8f;
    }
  }

//--------------------------------------------chooseBest----------------------------------------------------------------

  &-chooseBest{
    width: 85%;
    margin: 20px auto 0;
    &-item{
      text-decoration: none;
      display: block;
      margin-bottom: 10px;
      font-size: 0;
      &-img{
        @extend .dibT;
        width: 48%;
        background-size: cover !important;
        height: 75px;
      }
      &-info{
        @extend .dibT;
        width: 52%;
        padding-left: 10px;
        h2{
          font-size: 15px;
          font-weight: normal;
          color: #000;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 36px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
        h3{
          font-size: 14px;
          font-weight: normal;
          color: #757575;
          margin: 0;
        }
      }
    }
  }

//--------------------------------------------chooseBestTags------------------------------------------------------------

  &-chooseBestTags{
    &-btn{
      color: #800a0a;
      font-family: 'bebas';
      font-size: 17px !important;
    }

    &-video{
      margin-bottom: 15px;
    }

    &-info{
      h2{
        color: #000;
        font-size: 15px;
        margin: 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3{
        color: #444444;
        font-size: 11px;
        margin: 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span{
        color: #3d3d3d;
        font-size: 11px;
        margin: 0 0 0 5px;
        padding: 0 5px 0 0;
        border-right: 1px solid #3d3d3d;
        &:last-child{border: 0;margin: 0;}
      }
    }

    &-item{
      @extend .dibT;
      background: white;
      border: 1px solid #a1a1a1;
      border-radius: 3px;
      padding: 6px 0;
      width: 47%;
      font-size: 16px;
      margin-bottom: 10px;
      &.active{
        background: #a1a1a1;
        color: white;
      }
    }
  }

//--------------------------------------------chooseBestTags------------------------------------------------------------

  &-rise{
    &-top{
      border-top: 1px solid #330608;
      height: 200px;
      text-align: center;
      position: relative;
      &-bg{
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-size: cover !important;
        &:after, &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
        }
        &:before{
          background: -moz-linear-gradient(top,  rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 69%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 69%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 69%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        }
      }

      &-ava{
        position: relative;
        width: 70px;
        height: 70px;
        margin: 10px auto 0;
        border-radius: 50%;
        background-size: cover !important;
      }

      &-name{
        position: relative;
        margin: 5px 0 0;
        font-size: 17px;
        color: white;
      }

      &-loc{
        position: relative;
        margin: 5px 0 0;
        font-size: 11px;
        color: white;
      }

      &-place{
        position: relative;
        margin: 5px 0 0;
        span{
          font-size: 12px;
          color: white;
          b{
            font-family: 'bebas';
            font-size: 16px;
            sup{
              font-size: 8px;
              top: -0.8em;
            }
          }
        }

        button{
          background: none;
          border: none;
          font-size: 10px;
          color: white;
        }
      }

      &-subscribe{
        position: absolute;
        width: 96%;
        margin: 0 auto;
        bottom: 10px;
        span{
          color: white;
          font-size: 13px;
        }
        button{
          background: #e12724;
          color: white;
          font-size: 12px;
          font-weight: bold;
          border: none;
          padding: 4px 11px;
          border-radius: 5px;
        }
      }
    }

    &-content{
      margin-top: 25px;
      &-x1{
        &-item{
          margin-bottom: 25px;
        }
      }

      &-x3{
        h2{
          margin: 0 0 15px;
          color: #000;
          font-size: 12px;
        }
        &-list{
          font-size: 0;
          margin: 25px 0;
          &-item{
            @extend .dibT;
            width: 50%;
            font-size: 12px;
            color: #7baaf7;
            text-decoration: none;
          }
        }
      }
    }
  }
}
























